html, body {
    font-size: 12px;
    font-family: 'Scope One', Serif;
    background-color: #e4b4b4;
}
.title {
    font-family: 'Scope One';
    font-size: 3rem;
    text-align: center;
}
.container {
    font-family: 'Scope One', sans-serif;
    font-size: 1.5rem;
    background-color: white;
    width: 90%;
    margin: 5%
}
/* color palette css */
.color-container {
    border: 3px solid black;
    display: inline-block;
    width: 80%;
    margin: 10%;
}
table {
    width: 80%;
    height: auto;
    padding: 3%;
    margin: 0 auto;
    font-size: 1.5rem;
} 
td {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-family:'Scope One', serif;
    font-size: 1.125rem;
    padding: 2%;
    margin: 1%;
    width:12%;
    height: auto;
}
#v1 {
    background-color: #ff3399;
}
#v2{
    background-color: #ff6600;
}
#v3 {
    background-color: #ffff66;
}
#v4 {
    background-color: #33cc33;
}
#v5 {
    background-color: #0066ff;
    color: white;
}
#v6 {
    background-color: #9900ff;
    color: white;
}
#s1 {
    background-color: #ff99bb;
}
#s2 {
    background-color: #ffc299;
}
#s3 {
    background-color: #cc9900;
}
#s4 {
    background-color: #006633;
    color: white;
}
#s5 {
    background-color: #006699;
    color: white;
}
#s6 {
    background-color: #cf9fdf;
}
#n1 {
    background-color: #fff;
}
#n2 {
    background-color: #e4b4b4;
}
#n3 {
    background-color: #ebd9c6;
}
#n4 {
    background-color: #669999
}
#n5 {
    background-color: #d9d9d9;
}
#n6 {
    background-color: #000;
    color: white;
}
/* font panel css */
.font-container{
    border: 3px solid black;
    text-align: center;
    display: inline-block;
    width: 80%;
    margin: 10%
}
.font-panel-scope {
    font-family: 'Scope One', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}
.scope-bold {
    font-weight: bold;
    font-family: 'Scope One', sans-serif;
    font-size: 1.25rem;
}
.scope-italic {
    font-style: italic;
    font-family: 'Scope One', sans-serif;
    font-size: 1.25rem;
}
.scope-reg {
    font-family: 'Scope One', sans-serif;
    font-size: 1.25rem;
}
.font-panel-quick{
    font-weight: bold;
    font-size: 1.5rem;
}
.quick-bold {
    font-weight: bold;
    font-family: 'Quicksand', serif;
    font-size: 1.25rem;
}
.quick-italic {
    font-style: italic;
    font-family: 'Quicksand', serif;
    font-size: 1.25rem;
}
.quick-reg {
    font-family: 'Quicksand', serif;
    font-size: 1.25rem;
}
.font-panel-dancing {
    font-family: 'Dancing Scrip', cursive;
    font-weight: bold;
    font-size: 1.5rem;
}
.dancing-bold {
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    font-size: 1.25rem;
}
.dancing-italic {
    font-style: italic;
    font-family: 'Dancing Script', serif;
    font-size: 1.25rem;
}
.dancing-reg {
    font-family: 'Dancing Script', cursive;
    font-size: 1.25rem;
}
/* text style panel css */
.text-container {
    border: 3px solid black;
    display: inline-block;
    font-family: 'Scope One', serif;
    width: 80%;
    margin: 10%;
}
.text-panel ul{
    padding-left: 40%;
}
.text-panel li{
    font-family: Quicksand;
    font-size: 1.125rem;
}
.text-panel h1 {
    font-family: 'Scope One', 'serif';
    text-align: center;
    font-size: 2.125rem;
    font-weight: 700;
}
.text-panel h2{
    font-family: 'Quicksand', 'sans-serif';
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
}
.text-panel p{
    font-family:'Quicksand', 'sans-serif';
    text-align: center;
    font-size: 1.5;
    font-weight: 400;
}
.navigation-container {
    border: 3px solid black;
    display: inline-block;
    font-family: 'Scope One', serif;
    text-align: center;
    width: 80%;
    margin: 10%;
}
.button-container {
    margin: 2%;
}
button a{
    color: black;
    text-decoration: none;
}
button {
    background-color: #ebd9c6;
    font-family: Quicksand, sans-serif;
    text-transform: capitalize;
    font-size: 1.125rem;
    padding: 2%;
    font-weight: 700;
    box-shadow: 4 4 4 4 inset;
}
button:hover{
    background-color: #ebd9c6;
    font-family: Quicksand, sans-serif;
    font-size: 1.125rem;
    padding: 2%;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 4 4 4 4 inset;
}
button:active {
    background-color: #669999;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.125rem;
    padding: 2%;
    font-weight: 700;
}
button:visited {
    background-color:d9d9d9;
    font-family: Quicksand, sans-serif;
    font-size: 1.125rem;
    text-transform: lowercase;
}
ul.breadcrumb {
    list-style: none;
    width: 85%;
}
.breadcrumb li a{
    text-decoration: none;
    font-family: 'Quicksand' sans-serif;
    font-size: 1.25rem;
    color: black;
}
.breadcrumb li{
    display: inline;
}
.breadcrumb li+li a:before{
    content: ">";
    padding: 2%;        
}
.breadcrumb li a:hover{
    font-size: 1.5rem;
    font-weight: bold;
}
@media only screen and (max-width: 480px) and (orientation: portrait) {
    .container {
       width: 90%;
        height: auto;
    }
    .color-container {
        width: 90%;
        height: auto;
        padding: 0 auto;
    }
    tr{
      display: table-row;
      width: 80%;
      padding: 0 auto;
      margin: 0 auto;
      font-size: 1rem;
      font-weight: bold;
    }
    td {
      display: table-cell;
      width: 12%;
      padding: 1px;
      font-size: 0.75rem;
      font-weight: bold;
      margin: auto;
    }
    .font-container {
        width: 90%;
        height: auto;
    }
    .text-container{
        width: 90%;
        height: auto;
    }
}
